* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #2D3E50;
}

.header-bar {
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 3fr 3fr;
    padding: 20px;
}

.header-bar form {
    color: #555;
    display: flex;
    padding: 2px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #DDD;
}

.header-bar form input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
    width: 100%;
}

.header-bar form input[type="search"]::placeholder {
    color: #555;
}

.header-bar form button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
}

.header-bar form button[type="submit"]:hover {
    opacity: 1;
}

.header-bar form button[type="submit"]:focus,
.header-bar form input[type="search"]:focus {
    box-shadow: 0 0 3px 0 #1183d6;
    border-color: #1183d6;
    outline: none;
}

.account-btn-area {
    display: flex;
    justify-content: flex-end;
}

.account-btn-area a:where(:link, :visited) {
    background-color: hsl(120, 100%, 25%);
    padding: 10px;
    margin: 5px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.account-btn-area a:hover {
    background-color: hsla(120, 100%, 25%, 0.8);
}


.navbar {
    display: flex;
    justify-content: center;
    align-items: stretch;
    list-style-type: none;
    background-color: hsl(120, 100%, 25%);
}

.navbar a:where(:link, :visited) {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.navbar a:hover {
    background-color: #2D3E50;
}

.footer {
    background-color: #2D3E50;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 40px;
    color: #fff;
    padding: 30px;

    >div>h3 {
        text-decoration: underline;
    }
}

.footer-about {
    text-align: justify;
}

.footer a:where(:link, :visited) {
    text-decoration: none;
    color: #fff;
}

.footer a:hover {
    color: hsl(120, 100%, 25%);
}

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main {
    background-color: #ddd;
    padding: 30px;
}

.home-stat-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.home-stat-section .card {
    background-color: hsl(120, 100%, 25%);
    color: #2D3E50;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.home-section {
    margin-bottom: 20px;
}

.home-section-title {
    display: flex;
    justify-content: space-between;
    color: #2D3E50;
}

.home-section-title a:where(:link, :visited) {
    text-decoration: none;
    color: #2D3E50;
    padding: 5px;
    border-radius: 5px;
}

.home-section-title a:hover {
    color: #fff;
    background-color: hsl(120, 100%, 25%);
}

.home-section-title a::after {
    content: " ⮞";
}

.home-section-content {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 10px;
}

.home-section-content a:where(:link, :visited) {
    text-decoration: none;
}

.card {
    background-color: #eee;
    color: #2D3E50;
    padding: 10px;
    border-radius: 10px;
}

.category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

p.count {
    background-color: #2D3E50;
    color: #fff;
    border-radius: inherit;
    padding: 3px;
}

.book {
    text-align: center;
    color: #2D3E50;
}

.book a:where(:link, :visited) {
    text-decoration: none;
    color: #2D3E50;
}

.book-detail {
    padding-top: 15px;
    text-align: justify;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;

}

.book-detail-title {
    color: #555;
}

.book-detail-value {
    color: #2D3E50;
}